/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */

.poster-img{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width:100%;
}

.nav-part{
  position: absolute;
  left:80px; 
  top:20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px; 
  margin: 0 auto;
}


.mob{
  color: white;
}

p{
  color: white;
}



input[type='text']{
  padding: 8px 180px;
  background-color: transparent;
  border:2px solid white;
  border-radius: 5px;
  color: white;
}

.sear{
margin-left: -50px;
}

.logo,
.searchBar, .sign-Menu
 {
   flex: 1;
  display: flex;
  align-items: center;
  gap: 20px; 
}

.sign-Menu{
  display: flex;
  justify-content: flex-end;
}

.trendy{
  position: absolute;
  left:80px; 
  top:200px;
}

.title{
  color: white;
  letter-spacing: 0.50rem;
  font-size: 50px;
}

.recommendation{
  display: flex;
  width: 200px;
  justify-content: space-between;
}

.no-shrink{
  width: 100%;
  margin-right: 15px;
}

.mv,
.reviews{
  display: flex;
}

.rating{
  color: white;
}

.summary{
  width: 400px;
  margin: 15px 0px;
}

.movie-category{
  padding: 40px 100px;
}

.featured-arrow{
  display: flex;
  justify-content: space-between;
}

.more{
  display: flex;
  
}

.anchor{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
}

.featured-arrow{
  margin-bottom: 30px;
}